body {
    background-color: #3e8271;
}

.page-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.back-white {
    background-color: white;
}

.pad-small {
    padding: 16px;
}

.m-top-128 {
    margin-top: 128px;
}

.width-512 {
    width: 512px;
}